body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

.content {
  margin: 0px;
  padding: 0px;
}

.title {
  margin-left: 10px;
}

.info {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-style: italic;
  margin-left: 30px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}

input {
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  margin-left: 10px;
}

.button {
  box-sizing: content-box;
  text-align: center;
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  padding: 3px;
  border-radius: 3px;
}